/*
* -----------------------------------
*   Nextflow config file
* ----------------------------------
*  
*/


manifest{
    homepage = 'https://github.com/ganguvamshi/nf-fastqdump'
    description = " Nextflow fastq-dump pipeline, for converting sra2fastq step"
    mainScript = 'fastq-dump.nf'
}

params {
    srafiles = ""
    outdir = "fqdump_results/"
    gzip = true
}

process {
    publishDir = [path: params.output, mode: copy, overwrite: 'true']
}

